<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".core.AnimeEra"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimeEra">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AnimeEra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        The line tools:node="remove" in your manifest is the explicit instruction to the Android -->
<!--        build tools to remove the default InitializationProvider entry that comes from the -->
<!--        WorkManager library. This action prevents the automatic, default initialization from -->
<!--        ever running.-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />


<!--        <service-->
<!--            android:name="androidx.work.impl.background.systemjob.SystemJobService"-->
<!--            android:exported="false"-->
<!--            tools:replace="android:exported"-->
<!--            tools:node="merge" />-->
    </application>

</manifest>